.bashrc.save*
.bash_history
.viminfo
.python_history
.sudo_as_admin_successful
.cache
.ssr
.selected_editor
.ssh/
.wget-hsts
.local/
.gitconfig
.mozilla/
.xsession-errors*
.Xauthority
.lesshst
.ipython/
.gnupg/
.password-store/
.vim
.pki
.pip
.anthy
.rtorrent.session
*.torrent
.steam*
Desktop/
Downloads/*
tmp/*
debug.log
.config/pavucontrol.ini
.config/pulse/
.config/QtProject.conf
.config/dconf/
.config/ibus/
.config/qutebrowser/*
!.config/qutebrowser/config.py
.config/cef_user_data/
.config/fcitx*
.config/systemd/
.config/btop/
.config/libreoffice/
.config/obs-studio/
.config/Code/
.config/user-dirs.*
.config/heroic/
.config/nvim/*.json
.config/spotify/
.config/qBittorrent/
.config/qutebrowser/*
.config/Ryujinx
!.config/qutebrowser/config.py
!.config/qutebrowser/quickmarks
.config/kitty/kitty.conf.bak
.aws
.vscode
.pulse-cookie
Pictures/*
Games/*
.nv/*
.nvidia-settings-rc
.wine
Documents/
nvidia-all/
.docker
.pvpn-cli/
.jupyter
explicit_filter.restore
.haven/
.java/
.yarnrc
