.bashrc.save*
.bash_history
.viminfo
.python_history
.sudo_as_admin_successful
.cache
.ssr
.selected_editor
.ssh/
.wget-hsts
.local/
.gitconfig
.vscode-server/
.jupyter/
.mozilla/
.xsession-errors*
.Xauthority
.lesshst
.ipython/
.gnupg/
.password-store/
.vim
.pki
.vscode-oss/
.nyx
.pip
.anthy
.rtorrent.session
*.torrent
.steam*
Desktop/
Downloads/*
tmp/*
debug.log
.vscode
.emacs.d/
.config/pavucontrol.ini
.config/pulse/
.config/QtProject.conf
.config/Code/
.config/dconf/
.config/ibus/
.config/htop/
.config/libreoffice/
.config/menus/
.config/neofetch/
.config/pcmanfm/
.config/nitrogen/
.config/qtile/__pycache__/
.config/qutebrowser/autoconfig.yml
.config/qutebrowser/bookmarks/
.config/qutebrowser/qsettings/
.config/qutebrowser/quickmarks
.config/cef_user_data/
.config/fcitx*
.config/systemd/
.config/bpytop/
.config/noisetorch
